<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="shortcut icon" href="\images\logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="\styles\style.css">
</head>
<body>
    <header>
        <div class="logo" title="University Management System">
            <a href=<% home_link %>>
                <img src="\images\logo.png" alt="">
                <h2>U<span class="danger">M</span>S</h2>
            </a>
        </div>
        <div class="navbar">
            <a href="/" class="active">
                <span class="material-icons-sharp">home</span>
                <h3>Profile</h3>
            </a>
            <a href="/search" onclick="timeTableAll()">
                <span class="material-symbols-outlined">search</span>
                <h3>Search</h3>
            </a> 
            <a href="./exam.html">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Courses</h3>
            </a>
            <a href="./password.html">
                <span class="material-icons-sharp">password</span>
                <h3>Change Password</h3>
            </a>
            <!-- <a href="#">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a> -->
            <% if(curr_login == "false"){ %>
                <a href="/login-get">
                    <span class="material-icons-sharp" onclick="">login</span>
                    <h3>Login</h3>
                </a>
            <%}else{ %>
                  <a href="/logout">
                    <div class="logo">
                        <span class="material-icons-sharp" onclick="">logout</span>
                        <h3>Logout</h3>
                    </div>
                  </a>
            <% } %>
        </div>
        <div id="profile-btn">
            <span class="material-icons-sharp">person</span>
        </div>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        
    </header>
    <div class="container">
        <aside>
            <div class="profile">
                <div class="top">
                    <div class="profile-photo">
                        <img src="\images\profile-1.jpg" alt="">
                    </div>
                    <div class="info">
                        <p>Hey, <b>[user_name]</b> </p>
                        <small class="text-muted">12102030</small>
                    </div>
                </div>
                <div class="about">
                    <h5>Course</h5>
                    <p>BTech. Computer Science & Engineering</p>
                    <h5>University Name</h5>
                    <p>Amity University, Noida</p>
                    <h5>Enrollment No.</h5>
                    <p>A023166922030</p>
                    <h5>Contact</h5>
                    <p>1234567890</p>
                    <h5>Email</h5>
                    <p>unknown@gmail.com</p>
                    <h5>Address</h5>
                    <p>User Address</p>
                </div>
            </div>
        </aside>

        <main>
            <h1>Progress</h1>
            <div class="subjects">
                <div class="eg">
                    <span class="material-icons-sharp">architecture</span>
                    <h3>Engineering Graphics</h3>
                    <h2>12/14</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>86%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <div class="mth">
                    <span class="material-icons-sharp">functions</span>
                    <h3>Mathematical Engineering</h3>
                    <h2>27/29</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>93%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <div class="cs">
                    <span class="material-icons-sharp">computer</span>
                    <h3>Computer Architecture</h3>
                    <h2>27/30</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>81%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <div class="cg">
                    <span class="material-icons-sharp">dns</span>
                    <h3>Database Management</h3>
                    <h2>24/25</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>96%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <div class="net">
                    <span class="material-icons-sharp">router</span>
                    <h3>Network Security</h3>
                    <h2>25/27</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>92%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
            </div>

                <!-- <div class="timetable" id="timetable">
                    <div>
                        <span id="prevDay">&lt;</span>
                        <h2>Today's Timetable</h2>
                        <span id="nextDay">&gt;</span>
                    </div>
                    <span class="closeBtn" onclick="timeTableAll()">X</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Room No.</th>
                                <th>Subject</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div> -->
                <div class="user-profile" style="width:100%;
                height:300px;
                margin-top: 40px;
                border-radius: 10px;
                display:inline-flex;
                justify-content: center;
                text-align: center;">
                    <div class="streak" style="width:400px; height:200px;font-size: 27px; color:black;border-radius: 10px; background-color:#d3d6f2; margin-right: 10px; margin-left: 10px;padding: 25px 50px 75px 50px;">
                        <h2>DAILY STREAK!!</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style=" height:40px; width:40px;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M159.3 5.4c7.8-7.3 19.9-7.2 27.7 .1c27.6 25.9 53.5 53.8 77.7 84c11-14.4 23.5-30.1 37-42.9c7.9-7.4 20.1-7.4 28 .1c34.6 33 63.9 76.6 84.5 118c20.3 40.8 33.8 82.5 33.8 111.9C448 404.2 348.2 512 224 512C98.4 512 0 404.1 0 276.5c0-38.4 17.8-85.3 45.4-131.7C73.3 97.7 112.7 48.6 159.3 5.4zM225.7 416c25.3 0 47.7-7 68.8-21c42.1-29.4 53.4-88.2 28.1-134.4c-4.5-9-16-9.6-22.5-2l-25.2 29.3c-6.6 7.6-18.5 7.4-24.7-.5c-16.5-21-46-58.5-62.8-79.8c-6.3-8-18.3-8.1-24.7-.1c-33.8 42.5-50.8 69.3-50.8 99.4C112 375.4 162.6 416 225.7 416z"/></svg>
                        <p style="font-size: 15px; color:black;margin-top: 30px;"> seen the course content continous since 23 days..</p>
                    </div>
                    <div class="time-spent" style="width:400px; height:200px;font-size: 35px; color:black;border-radius: 10px; background-color:#d3d6f2; margin-right: 10px; margin-left: 10px;padding: 25px 50px 75px 50px;">
                        <h2>TOTAL TIME SPENT!!!!</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style=" height:40px; width:40px;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l16 0 0 34.4C92.3 113.8 16 200 16 304c0 114.9 93.1 208 208 208s208-93.1 208-208c0-41.8-12.3-80.7-33.5-113.2l24.1-24.1c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L355.7 143c-28.1-23-62.2-38.8-99.7-44.6L256 64l16 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L224 0 176 0zm72 192l0 128c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-128c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style=" height:40px; width:40px;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zM305 305c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47z"/></svg>
                        <p style="font-size: 15px; color:black;margin-top: 30px;"> you spent 1hr-28min today..</p>
                    </div>
                    <div class="daily-practise-sheet" style="width:400px; height:200px;font-size: 35px; color:black;border-radius: 10px; background-color:#d3d6f2; margin-right: 10px; margin-left: 10px;padding: 25px 50px 75px 50px;">
                        <h2 style="color:black;">DAILY PRACTISE QUIZ IS HERE!!</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style=" height:40px; width:40px;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 38.6C310.1 219.5 256 287.4 256 368c0 59.1 29.1 111.3 73.7 143.3c-3.2 .5-6.4 .7-9.7 .7L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128zm48 96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 240a24 24 0 1 0 0-48 24 24 0 1 0 0 48zM368 321.6l0 6.4c0 8.8 7.2 16 16 16s16-7.2 16-16l0-6.4c0-5.3 4.3-9.6 9.6-9.6l40.5 0c7.7 0 13.9 6.2 13.9 13.9c0 5.2-2.9 9.9-7.4 12.3l-32 16.8c-5.3 2.8-8.6 8.2-8.6 14.2l0 14.8c0 8.8 7.2 16 16 16s16-7.2 16-16l0-5.1 23.5-12.3c15.1-7.9 24.5-23.6 24.5-40.6c0-25.4-20.6-45.9-45.9-45.9l-40.5 0c-23 0-41.6 18.6-41.6 41.6z"/></svg>
                        <p style="font-size: 15px; color:black;margin-top: 30px;">attempted..</p>
                    </div>
                </div>
        </main>
        

        <div class="right">
            <div class="announcements">
                <h2>Announcements</h2>
                <div class="updates">
                    <div class="message">
                        <p> <b>Academic</b> Your daily quiz is here!! Attempt it now. </p>
                        <small class="text-muted">2 Minutes Ago</small>
                    </div>
                    <div class="message">
                        <p> <b>Co-curricular</b>New course available that might help you in your field.                          </p>
                        <small class="text-muted">5 Minutes Ago</small>
                    </div>
                    <div class="message">
                        <p> <b>Projects</b>A new project is waiting for you. Start now! </p>
                        <small class="text-muted">5 Minutes Ago</small>
                    </div>
                    <div class="message">
                        <p> <b>Training</b>Summer training internship available. Check it out!                          </p>
                        <small class="text-muted">Yesterday</small>
                    </div>
                </div>
            </div>

            <!-- <div class="leaves">
                <h2>Teachers on leave</h2>
                <div class="teacher">
                    <div class="profile-photo"><img src="./images/profile-2.jpeg" alt=""></div>
                    <div class="info">
                        <h3>The Professor</h3>
                        <small class="text-muted">Full Day</small>
                    </div>
                </div>
                <div class="teacher">
                    <div class="profile-photo"><img src="./images/profile-3.jpg" alt=""></div>
                    <div class="info">
                        <h3>Lisa Manobal</h3>
                        <small class="text-muted">Half Day</small>
                    </div>
                </div>
                <div class="teacher">
                    <div class="profile-photo"><img src="./images/profile-4.jpg" alt=""></div>
                    <div class="info">
                        <h3>Himanshu Jindal</h3>
                        <small class="text-muted">Full Day</small>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

    <script>
        const sideMenu = document.querySelector("aside");
        const profileBtn = document.querySelector("#profile-btn");
        const themeToggler = document.querySelector(".theme-toggler");
        const nextDay = document.getElementById('nextDay');
        const prevDay = document.getElementById('prevDay');

        profileBtn.onclick = function() {
            sideMenu.classList.toggle('active');
        }
        window.onscroll = () => {
            sideMenu.classList.remove('active');
            if(window.scrollY > 0){document.querySelector('header').classList.add('active');}
            else{document.querySelector('header').classList.remove('active');}
        }

        themeToggler.onclick = function() {
            document.body.classList.toggle('dark-theme');
            themeToggler.querySelector('span:nth-child(1)').classList.toggle('active')
            themeToggler.querySelector('span:nth-child(2)').classList.toggle('active')
        }

        let setData = (day) =>{
            document.querySelector('table tbody').innerHTML = ' '; //To clear out previous table data;  
            let daylist = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
            document.querySelector('.timetable div h2').innerHTML = daylist[day];
            switch(day){
                case(0): day = Sunday; break;
                case(1): day = Monday; break;
                case(2): day = Tuesday; break;
                case(3): day = Wednesday; break;
                case(4): day = Thursday; break;
                case(5): day = Friday; break;
                case(6): day = Saturday; break;
            }

            day.forEach(sub => {
                const tr = document.createElement('tr');
                const trContent = `
                                    <td>${sub.time}</td>
                                    <td>${sub.roomNumber}</td>
                                    <td>${sub.subject}</td>
                                    <td>${sub.type}</td>
                                `
                tr.innerHTML = trContent;
                document.querySelector('table tbody').appendChild(tr)                        
            });
        }

        let now = new Date();
        let today = now.getDay(); // Will return the present day in numerical value; 
        let day = today; //To prevent the today value from changing;

        function timeTableAll(){
            document.getElementById('timetable').classList.toggle('active');
            setData(today);
            document.querySelector('.timetable div h2').innerHTML = "Today's Timetable";
        }
        nextDay.onclick = function() {
            day<=5 ? day++ : day=0;  // If else one liner
            setData(day);
        }
        prevDay.onclick = function() {
            day>=1 ? day-- : day=6;    
            setData(day);
        }

        setData(day); //To set the data in the table on loading window.
        document.querySelector('.timetable div h2').innerHTML = "Today's Timetable"; //To prevent overwriting the heading on loading;

    </script>
</body>
</html>