<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="shortcut icon" href="\images\logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="\styles\style.css">
    <title><h3>Learning path</h3></title>
    <style>
        header{
            position: fixed;
            top: 0px;
        }
        body {
            font-family: Arial, sans-serif;
            background-color:#d3d6f2;
            color:black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .logo {
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 50px;
            color:black;
        }
        .search-bar {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 24px;
            padding: 6px 14px;
            width: 560px;
            max-width: 90%;
        }
        .search-bar input {
            flex-grow: 1;
            background: none;
            border: none;
            color: #e8eaed;
            font-size: 16px;
            outline: none;
            padding: 10px;
        }
        .search-icon, .mic-icon, .lens-icon {
           /* color: #9aa0a6; */
            font-size: 20px;
            padding: 0 8px;
            margin-left: 20px;
        }
        .shortcuts {
            display: flex;
            margin-right: 20px;
            margin-left: 20px;
            justify-content: center;
            margin-top: 50px;
        }
        .shortcut {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px;
            text-decoration: none;
            color: black;
            font-size: 25px;
            font-weight: bold;
        }
        .shortcut-icon {
            margin-left: 20px;
            margin-right: 30px;
            width: 48px;
            height: 48px;
           
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        .add-shortcut {
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
</head>
<body>
    <header>
        <div class="logo" title="University Management System">
            <a href=<% home_link %>>
                <img src="\images\logo.png" alt="">
                <h2>U<span class="danger">M</span>S</h2>
            </a>
        </div>
        <div class="navbar">
            <a href="/" class="active">
                <span class="material-icons-sharp">home</span>
                <h3>Profile</h3>
            </a>
            <a href="/search">
                <span class="material-symbols-outlined">search</span>
                <h3>Search</h3>
            </a> 
            <a href="/search_results">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Courses</h3>
            </a>
            <a href="/editor">
                <span class="material-icons-sharp">editor</span>
                <h3>Code Editor</h3>
            </a>
            <!-- <a href="#">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a> -->
            <% if(curr_login == "false"){ %>
                <a href="/login-get">
                    <span class="material-icons-sharp" onclick="">login</span>
                    <h3>Login</h3>
                </a>
            <%}else{ %>
                  <a href="/logout">
                    <div class="logo">
                        <span class="material-icons-sharp" onclick="">logout</span>
                        <h3>Logout</h3>
                    </div>
                  </a>
            <% } %>
        </div>
        <div id="profile-btn">
            <span class="material-icons-sharp">person</span>
        </div>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        
    </header>
    <div class="logo">
        <a> Find Your Course Here!!</a>
        <!-- LOGO OF WEBPAGE 
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_light_color_272x92dp.png" alt="Google Logo">-->
    </div>
    <div class="search-bar">
        <!-- <span class="search-icon">🔍</span>
        <input type="text" placeholder="Search Courses"> -->
        <form action="/search_results" method="get" style="display: inline;">
            <span class="search-icon">🔍</span>
            <input type="search_text" placeholder="Search Courses" name="course_text">
        </form>
    </div>
    <div class="shortcuts">
        <a href="/search_results" class="shortcut" name="course_text">
            <!-- LOGO OF COURSE TYPE -->
            <div class="shortcut-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M480 32l-64 368-223.3 80L0 400l19.6-94.8h82l-8 40.6L210 390.2l134.1-44.4 18.8-97.1H29.5l16-82h333.7l10.5-52.7H56.3l16.3-82H480z"/></svg>
            </div>
            <span>Front-End</span>
        </a>
        <a href="/search_results" class="shortcut">
            <div class="shortcut-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M277.7 312.9c9.8-6.7 23.4-12.5 23.4-12.5s-38.7 7-77.2 10.2c-47.1 3.9-97.7 4.7-123.1 1.3-60.1-8 33-30.1 33-30.1s-36.1-2.4-80.6 19c-52.5 25.4 130 37 224.5 12.1zm-85.4-32.1c-19-42.7-83.1-80.2 0-145.8C296 53.2 242.8 0 242.8 0c21.5 84.5-75.6 110.1-110.7 162.6-23.9 35.9 11.7 74.4 60.2 118.2zm114.6-176.2c.1 0-175.2 43.8-91.5 140.2 24.7 28.4-6.5 54-6.5 54s62.7-32.4 33.9-72.9c-26.9-37.8-47.5-56.6 64.1-121.3zm-6.1 270.5a12.2 12.2 0 0 1 -2 2.6c128.3-33.7 81.1-118.9 19.8-97.3a17.3 17.3 0 0 0 -8.2 6.3 70.5 70.5 0 0 1 11-3c31-6.5 75.5 41.5-20.6 91.4zM348 437.4s14.5 11.9-15.9 21.2c-57.9 17.5-240.8 22.8-291.6 .7-18.3-7.9 16-19 26.8-21.3 11.2-2.4 17.7-2 17.7-2-20.3-14.3-131.3 28.1-56.4 40.2C232.8 509.4 401 461.3 348 437.4zM124.4 396c-78.7 22 47.9 67.4 148.1 24.5a185.9 185.9 0 0 1 -28.2-13.8c-44.7 8.5-65.4 9.1-106 4.5-33.5-3.8-13.9-15.2-13.9-15.2zm179.8 97.2c-78.7 14.8-175.8 13.1-233.3 3.6 0-.1 11.8 9.7 72.4 13.6 92.2 5.9 233.8-3.3 237.1-46.9 0 0-6.4 16.5-76.2 29.7zM260.6 353c-59.2 11.4-93.5 11.1-136.8 6.6-33.5-3.5-11.6-19.7-11.6-19.7-86.8 28.8 48.2 61.4 169.5 25.9a60.4 60.4 0 0 1 -21.1-12.8z"/></svg>
            </div>
            <span>JAVA</span>
        </a>
        <a href="/search_results" class="shortcut">
            <div class="shortcut-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M32 32c17.7 0 32 14.3 32 32l0 224c0 70.7 57.3 128 128 128s128-57.3 128-128l0-224c0-17.7 14.3-32 32-32s32 14.3 32 32l0 224c0 106-86 192-192 192S0 394 0 288L0 64C0 46.3 14.3 32 32 32z"/></svg>
            </div>
            <span>UI</span>
        </a>
        <a href="/search_results" class="shortcut">
            <div class="shortcut-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4 .1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8 .1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3 .1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"/></svg>
            </div>
            <span>PYTHON</span>
        </a>
        <a href="/search_results" class="shortcut">
            <div class="shortcut-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M320 0c17.7 0 32 14.3 32 32l0 64 120 0c39.8 0 72 32.2 72 72l0 272c0 39.8-32.2 72-72 72l-304 0c-39.8 0-72-32.2-72-72l0-272c0-39.8 32.2-72 72-72l120 0 0-64c0-17.7 14.3-32 32-32zM208 384c-8.8 0-16 7.2-16 16s7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-32 0zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-32 0zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-32 0zM264 256a40 40 0 1 0 -80 0 40 40 0 1 0 80 0zm152 40a40 40 0 1 0 0-80 40 40 0 1 0 0 80zM48 224l16 0 0 192-16 0c-26.5 0-48-21.5-48-48l0-96c0-26.5 21.5-48 48-48zm544 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-16 0 0-192 16 0z"/></svg>
            </div>
            <span>AI/ML</span>
        </a>
        <a href="/search_results" class="shortcut">
            <div class="shortcut-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"/></svg>
            </div>
            <span>JAVASCRIPT</span>
        </a>
    </div>
    <!-- FUNCTIONS FOR NAVBAR -->
    <script>
        // FIX THE SCRIPT FOR DARK AND LIGHT THEME
        const sideMenu = document.querySelector("aside");
        const profileBtn = document.querySelector("#profile-btn");
        const themeToggler = document.querySelector(".theme-toggler");
    
        profileBtn.onclick = function() {
            sideMenu.classList.toggle('active');
        }
        window.onscroll = () => {
            sideMenu.classList.remove('active');
            if(window.scrollY > 0){document.querySelector('header').classList.add('active');}
            else{document.querySelector('header').classList.remove('active');}
        }
    
        themeToggler.onclick = function() {
            document.body.classList.toggle('dark-theme');
            themeToggler.querySelector('span:nth-child(1)').classList.toggle('active');
            themeToggler.querySelector('span:nth-child(2)').classList.toggle('active');
            document.querySelector("search-bar").style.background = "black";
        }
    </script>
</body>
</html>